.container {
    max-width: 960px;
}

.jumbotron {
    padding: 2rem 2rem;
}

#train-table th,
td {
    display: inline-block;
    width: 20%;
}

.card-body {
    background-color: #E0E0E0;

}



#train-form-title {

    background-color: #DEDEDE;
}

@media (max-width: 480px) {
    .container {
        width: 100% !important;
        min-width: 330px !important;
    }

    .row {
        min-width: 400px;

    }
    .mobile-padding {

        padding-left: 10px !important;
        padding-right: 10px !important;
    }


}